.body {
  background-image: linear-gradient(to bottom, rgba(69, 72, 77, 0), rgba(0, 0, 0, 1)), url(src/assets/images/font.jpg);
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 3%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: GOB;
  font-size: 1.5vw;

}

h3 {
  font-family: BBE;
  font-size: 2vw;
}

.buttons {
  height: 4%;
  align-self: flex-end;
}

button {
  background: none;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  color: white;
  width: 4em;
  height: 4em;
  margin: 0.2em;
}

.toolbar {
}

.profilePic {
  border-radius: 50%;
  height: 25vw;
}

.description {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-top: 4%;
  width: fit-content;
  height: fit-content;
  color: white;
  text-align: center;
}
