.body {
  background-image: linear-gradient(to bottom, rgba(69, 72, 77, 0), rgba(0, 0, 0, 1)), url(src/assets/images/font.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1vw;
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: GOB;
  font-size: 1.5vw;
  margin-bottom: -1vw;
}

h3 {
  font-family: BBE;
  font-size: 2vw;
}

.buttons {
  align-self: flex-end;
  margin-top: 1vw;
  margin-right: 1vw;
}

mat-icon {
  height: 50%;
  width: 50%;
}

span {
  display: none;
  font-family: BBE;
  font-size: 2vw;
}

button:hover span {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, +0.5vw);
}

button {
  margin: 0.5vw;
  background: none;
  border-width: 2px;
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  color: white;
  height: 6em;
  width: 6em;
}

.profilePic {
  border-radius: 50%;
  margin-bottom: 1vw;
  width: 15vw;
  height: 15vw;
  margin-left: auto;
  margin-right: auto;
}

.description {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: fit-content;
  height: fit-content;
  color: white;
  text-align: center;
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.5vw;
  }

  button:hover span {
    transform: translate(-50%, -25%);
  }

  h3 {
    font-size: 3vw;
  }

  button {
    height: 3em;
    width: 3em;
  }

  span {
    display: none;
    font-family: BBE;
    font-size: 3vw;
  }

  .profilePic {
    margin-bottom: 4vw;
    height: 20vw;
    width: 20vw;
  }

  .description {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 4vw;
    width: fit-content;
    height: fit-content;
    color: white;
    text-align: center;
  }
}
