<div class="body">
  <div class="buttons">
    <button (click)="goHome()" mat-icon-button>
      <mat-icon svgIcon="home"></mat-icon>
      <span>Home</span>
    </button>
    <button (click)="openCV()" mat-icon-button>
      <mat-icon svgIcon="files"></mat-icon>
      <span>CV</span>
    </button>
    <button (click)="goContact()" mat-icon-button>
      <mat-icon svgIcon="contact"></mat-icon>
      <span>Contact</span>
    </button>
  </div>
  <div class="description">
    <img alt="Profile pic" class="profilePic" src="assets/images/photo.jpg">
    <h1>JULIEN MOLINIER</h1>
    <h3>IT Engineering School Student</h3>
  </div>
</div>
