:host {
  background-color: rgb(50, 54, 57);
  display: flex;
  color: white;
  flex-direction: row;
  padding-top: 1vh;
  padding-left: 1vh;
  padding-bottom: 1vh;
}

.left {
  width: 33%;
  display: flex;
  align-items: center;
}

p {
  font-size: 100%;
}

.center {
  width: 33%;
  text-align: center;
  align-self: center;
}

.copyright {
  width: 33%;
  text-align: right;
  align-self: center;
}

button {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.5vw;
  font-family: RobotoLight;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

img {
  width: 3%;
  margin-left: 0.5vw;
}
