mat-card {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vw;
}

img {
  width: 15vw;
  border-radius: 50%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  box-shadow: 0.1vw 0.1vw 1vw #555;
}

mat-card-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.details {
  width: 40vw;
}

h1 {
  font-family: BBE;
  font-size: 3vw;
}

h3 {
  font-family: BBE;
  font-size: 2vw;
  color: #555555;
}

p {
  font-family: BBE;
  font-size: 2vw;
  color: #555555;
}

@media (max-width: 450px) {
  h1 {
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
  }

  p {
    font-size: 4vw;
  }

  img {
    width: 30vw;

  }
}

