<div class="body">
  <h1>Language Skills</h1>
  <div class="flex">
    <div *ngFor="let language of languageList" class="card">
      <app-language-card [language]="language"></app-language-card>
    </div>
  </div>
  <br>
  <br>
  <br>
  <h1>IT Skills</h1>
  <div class="flex">
    <div *ngFor="let itSkill of itSkillsList" class="card">
      <app-itskill-card [itSkill]="itSkill"></app-itskill-card>
    </div>
  </div>
  <br>
  <br>
  <br>
  <h1>Hobbies</h1>
  <div class="flex">
    <div *ngFor="let hobby of hobbiesList" class="card">
      <app-hobby-card [hobby]="hobby"></app-hobby-card>
    </div>
  </div>

</div>
