h1 {
  text-align: center;
  font-family: BBE;
  font-size: 5vw;
}

.body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.card {
  margin: 2%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


@media (max-width: 450px) {
  h1 {
    font-size: 7vw;
  }
}

