h1 {
  text-align: center;
}

.body {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.card {
  margin: 2%;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

