img {
  width: 18vw;
  height: 10vw;
}

mat-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: BBE;
  font-size: 2.5vw;
}
