<div class="body">
  <h1>My Contacts</h1>
  <div class="container">
    <img class="mail" src="assets/images/envelope-solid.svg">
    <p>julienmolinier@orange.fr</p>
  </div>
  <div class="container">
    <img class="mail" src="assets/images/envelope-solid.svg">
    <p>julien.molinier@etu.univ-cotedazur.fr</p>
  </div>
  <div class="container">
    <img class="linkedin" src="assets/images/linkedin.png">
    <p><a href="https://www.linkedin.com/in/julien-molinier">https://www.linkedin.com/in/julien-molinier</a></p>
  </div>
  <div class="container">
    <img class="github" src="assets/images/github.png">
    <p><a href="https://github.com/JulienMolinier">https://github.com/JulienMolinier</a></p>
  </div>
</div>
