/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-bar-rating/themes/br-default-theme.css';

@font-face {
  font-family: "BBE";
  src: url('assets/fonts/Behind Blue Eyes.ttf');
}

@font-face {
  font-family: "GOB";
  src: url('assets/fonts/Game of Brush.ttf');
}

@font-face {
  font-family: "FS";
  src: url('assets/fonts/FeatherScript.otf');
}

@font-face {
  font-family: "GBS";
  src: url('assets/fonts/Golden Bridge Sans.ttf');
}


@font-face {
  font-family: "RobotoBold";
  src: url('assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: "RobotoLight";
  src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
  font-family: "RobotoMedium";
  src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
  font-family: "RobotoThin";
  src: url('assets/fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: "RobotoRegular";
  src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "RobotoBlack";
  src: url('assets/fonts/Roboto-Black.ttf');
}

h1 {
  font-family: RobotoBlack;
  font-size: 300%;
}

h2 {
  font-family: RobotoBlack;
  font-size: 250%;
}

h3 {
  font-family: RobotoLight;
  font-size: 200%;
}

p {
  font-family: RobotoThin;
  font-size: 200%;
}

body {
  background-color: #F9F9F9;
  margin: 0;
  padding: 0;
}
